body {
    text-align: center;
}

#model_viewer {
    margin: auto;
    width: 50em;
}

#model_viewer_viewport {
    float: left;
    width: 65%;
    text-align: center;
}

#model_viewer_canvas {
    margin: auto;
}

#model_viewer_inputs {
    float: left;
    width: 35%;
}